.footer-top a:nth-child(1),
.men1 {
	display: none !important
}

.footer-bot {
	display: flex
}

#wpadminbar,
.entry-footer {
	display: none
}

li,
p {
	line-height: 1.6;
	padding-left: 0;
	position: relative
}

ul {
	position: relative
}

ul li:before {
	color: #7ad529;
	content: "|";
	padding-right: 10px;
	font-size: 24px;
	margin: -6px 0 0 -16px;
	position: absolute
}

uwxl:after,
wp:after {
	position: absolute;
	left: 0;
	top: 30px;
	content: ' ';
	width: 20px;
	height: 5px;
	background-color: #d62c57
}

h2,
h3,
h4,
h5,
h6,
p strong {
	font-size: 20px;
	display: block;
	margin-bottom: .8rem;
	position: relative;
	color: #4f626a
}

body {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	position: relative;
	background: #fff;
	overflow-x: hidden
}

.joykv {
	width: 100%;
	height: 76px;
	text-align: center;
	color: #4175ff;
	display: flex;
	align-items: center;
	background-color: #fff;
	justify-content: center;
	font-size: 18px;
	font-weight: 700;
	position: absolute;
	bottom: 20px;
	text-transform: uppercase;
	z-index: 100
}

.casino4 span {
	display: flex;
	align-items: center
}

header .vul2 div:hover:before {
	content: ' ';
	position: absolute;
	height: 73px;
	border-bottom: 2px solid #64b726;
	border-radius: 0;
	left: 0;
	width: 100%;
	top: -28px;
	z-index: 2
}

header .vul2 div:hover {
	color: #64b726 !important
}

.strange {
	top: 10px;
	z-index: 0 !important;
	left: 5px;
	position: absolute;
	width: 220% !important;
	max-width: 220%
}

.f4 {
	width: 160px;
	height: 45px;
	border-radius: 22px;
	border: 1px solid #007fde;
	text-align: center;
	color: #fff;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	transition: .3s
}

.f4:hover {
	color: #4175ff;
	background: #fff
}

.men-right {
	margin-right: 0 !important
}

img {
	max-width: 100%
}

.casino1 {
	font-size: 24px;
	color: #4175ff;
	display: flex;
	align-items: center
}

.casino3 {
	font-size: 20px;
	color: #4175ff
}

.menu-fo {
	display: flex;
	width: 70%;
	align-items: center;
	justify-content: space-evenly
}

.main1 {
	font-size: 24px;
	letter-spacing: 0;
	color: #0c314e;
	font-weight: 700;
	position: relative
}

a {
	color: inherit;
	text-decoration: none
}

.main2 {
	margin-top: 20px;
	font-size: 18px;
	padding-right: 40px;
	line-height: 1.5;
	color: #8d8a9c
}

.main3 {
	font-size: 20px;
	color: #0c314e;
	margin-top: 30px;
	position: relative;
	font-weight: 700
}

header {
	height: 74px;
	filter: drop-shadow(0 1px 0 #000);
	background-color: #1a5684;
	color: #fff;
	margin-bottom: 0
}

.joyl-slide {
	margin-bottom: 10px;
	position: relative
}

.men1 img {
	width: 70%;
	z-index: 3
}

.men1 {
	margin-left: 0 !important
}

.left-footer {
	margin-right: 40px
}

.left-footer img {
	margin-bottom: 103px;
	margin-right: 30px;
	margin-top: 5px
}

.footer-top a:hover div {
	color: #f5be1a !important;
	text-decoration: underline
}

footer {
	height: 80px;
	margin-top: 20px;
	border-top: 1px solid #fff;
	background: #030101;
	position: relative;
	font-size: 14px;
	display: -webkit-flex;
	display: flex;
	line-height: 24px;
	box-sizing: border-box;
	flex-direction: row-reverse;
	color: #fafbe5
}

.f1 img {
	max-width: 80%
}

.f3 img {
	margin-top: 20px;
	margin-right: 30px
}

.f2 {
	margin-right: 30px;
	display: flex;
	align-items: center;
	color: #fafbe5;
	font-size: 14px
}

.jou-abs {
	position: absolute;
	display: flex;
	align-items: flex-end;
	left: 0;
	right: 0;
	height: 80%;
	bottom: 30px
}

.footer-top {
	flex-direction: row;
	flex-wrap: nowrap;
	display: flex;
	font-size: 16px;
	color: #fafbe5;
	margin-right: 0;
	width: 100%;
	align-items: center;
	justify-content: space-between
}

.vul2 a {
	margin: 0 10px
}

.footer-top div:hover {
	color: #fff
}

.footer-top a img {
	width: 80%
}

.footer-top a {
	display: flex;
	align-items: center
}

footer .container {
	display: -webkit-flex;
	display: flex;
	flex-direction: row !important;
	justify-content: left;
	color: #fff;
	align-items: center;
	font-size: 16px;
	flex-wrap: wrap
}

.container {
	width: 1300px;
	margin: 0 auto
}

header .container {
	display: -webkit-flex;
	ALIGN-ITEMs: baseline;
	display: flex;
	flex-direction: row;
	align-items: normal;
	height: 100%;
	justify-content: flex-end;
	align-items: center
}

header .container div {
	margin-left: auto;
	display: -webkit-flex;
	ALIGN-ITEMs: center;
	display: flex;
	position: relative;
	margin-right: auto
}

.joyl2 {
	display: -webkit-flex;
	display: flex;
	flex-direction: row
}

.joyl2 div {
	padding: 0 12px;
	color: #fff;
	position: relative;
	z-index: 22
}

.men-right input {
	border: 0;
	width: 330px;
	margin-bottom: 20px;
	font-size: 16px;
	padding-left: 20px;
	height: 59px;
	border-radius: 30px;
	background-color: #444249
}

.main-right {
	width: 20%
}

.main-left {
	width: 80%;
	padding-right: 2%;
	box-sizing: border-box
}

.men3,
.men4 {
	font-size: 16px;
	transition: .3s;
	justify-content: center
}

.men3 {
	width: 119px;
	height: 37px;
	border: 1px solid #ccc;
	background-image: linear-gradient(2deg, #1a6ba8 0, #378cca 100%);
	transition: .2s
}

.men-right a {
	transition: .2s;
	margin-right: 15px !important
}

.men-right a:hover {
	transform: scale(1.05)
}

.joyl2 {
	margin-right: 15px !important;
	margin-left: -50px !important
}

.vul2 div {
	color: #fff
}

.men4 {
	width: 149px;
	height: 37px;
	background-image: linear-gradient(2deg, #6c932a 0, #83b132 100%);
	border: 1px solid #ccc
}

.main .container {
	display: -webkit-flex;
	display: flex;
	flex-direction: column
}

.main-right img {
	position: sticky;
	position: -webkit-sticky;
	top: 10px
}

ul {
	padding: 0;
	display: flex;
	flex-direction: column;
	margin-bottom: 0
}

li {
	font-size: 16px;
	ALIGN-ITEMs: center;
	display: -webkit-flex;
	display: flex;
	padding: 5px 0;
	position: relative;
	list-style: none
}

h1 {
	position: relative;
	color: #fff;
	line-height: 1.1;
	color: #202021 !important;
	letter-spacing: 2px;
	font-size: 40px !important;
	filter: drop-shadow(0 0 73.5px #151c2e);
	width: 750px;
	-webkit-text-stroke: 0 #7cb095
}

.jou-abs p {
	color: #fff
}

h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
	width: 25px;
	height: 5px;
	content: ' ';
	background: #ff9859;
	left: 0 !important;
	top: 11px;
	border-radius: 100px;
	position: absolute;
	display: none
}

li img {
	margin: 0 20px;
	width: 20px
}

.righter3 {
	text-align: center;
	height: 113px;
	border-radius: 10px;
	background-color: #fda700;
	font-size: 24px;
	font-style: italic;
	font-weight: 700;
	margin-top: 20px;
	box-sizing: border-box;
	color: #fff;
	background: url(/images/ss2.jpg) no-repeat;
	background-size: 100% 100%;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 25px
}

.righter31 {
	height: 64px;
	background-color: #092134;
	width: 90%;
	margin: 0 auto;
	margin-top: 0;
	display: -webkit-flex;
	display: flex;
	font-size: 18px;
	flex-direction: column;
	line-height: 64px;
	align-items: center;
	padding: 0 25px;
	border-radius: 10px;
	margin-left: 15px
}

.right2 input {
	height: 59px;
	border: 0;
	width: 100%;
	background-color: #e8e8e8;
	font-size: 16px;
	padding-left: 30px;
	box-sizing: border-box;
	margin-bottom: 20px;
	position: relative
}

.joy-left img {
	width: 100%
}

.main-right img {
	margin-top: 40px
}

.main-img {
	text-align: center;
	font-size: 16px;
	color: #8d8a9c;
	font-style: italic
}

.promo {
	height: 102px;
	background-color: #f2f2f4;
	margin-top: 20px;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;
	align-items: center;
	width: 100%
}

.promo1 {
	font-size: 22px;
	font-weight: 700;
	color: #0c314e;
	padding-left: 30px
}

.promo1 span {
	color: #fda700
}

.joy-left {
	width: 100%;
	color: #202021;
	text-align: left;
	line-height: 1.4;
	display: flex;
	flex-direction: row
}

.promo2 {
	width: 253px;
	height: 57px;
	margin-right: 20px;
	cursor: pointer;
	color: #fff;
	text-align: center;
	line-height: 57px;
	border-radius: 5px;
	background-color: #313036
}

.main21 {
	width: 253px;
	height: 63px;
	line-height: 65px;
	font-size: 18px;
	margin-top: 5px;
	background-color: #fda700;
	border-radius: 10px;
	text-align: center;
	color: #fff
}

.main2.flex {
	display: -webkit-flex;
	display: flex;
	JUSTIFY-CONTENT: space-between;
	padding-right: 0
}

.main20 {
	font-size: 18px;
	padding-right: 50px;
	color: #8d8a9c;
	line-height: 1.5;
	margin-top: 20px
}

.plashka {
	position: absolute;
	height: 67px;
	box-shadow: 0 11px 38px rgba(49, 48, 54, .22);
	background-color: rgba(84, 84, 90, .8196078431372549);
	bottom: 277px;
	width: 100%;
	top: auto
}

.plashka * {
	cursor: pointer
}

.plashka .main21 {
	height: 53px;
	line-height: 55px
}

.plashka .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between
}

.mob {
	display: none
}

@media screen and (max-width:1400px) and (min-width:1000px) {
	h1 {
		font-size: 48px !important
	}

	.footer-top {
		font-size: 12px
	}

	li img {
		margin: 0 20px;
		width: 16px;
		margin-left: 5px
	}

	.joy-left {
		width: 100%
	}

	.footer-top a {
		display: flex;
		align-items: center;
		padding: 0 5px
	}

	.joyl2 {
		margin-right: 10px !important
	}

	header .container div {
		white-space: nowrap;
		font-size: 11px
	}

	.joy-left img {
		width: 97%
	}

	.promo {
		width: 97%
	}

	.left-footer img {
		margin-bottom: 110px;
		margin-top: 5px
	}

	.men3 {
		padding: 0 10px
	}

	.men4 {
		padding: 0 10px
	}

	.men4 {
		width: 101px
	}

	.men3 {
		width: 104px
	}

	.container {
		width: 1050px
	}
}

@media screen and (max-width:1000px) {
	.jou-abs {
		position: relative;
		display: flex;
		align-items: flex-end;
		left: 0;
		right: 0;
		height: 80%;
		bottom: 0;
		order: 2
	}

	.footer-top a img {
		display: none
	}

	h1 {
		position: relative;
		color: #fff;
		line-height: 1.3;
		width: auto;
		font-size: 6vw !important
	}

	.men1 img {
		width: 100%;
		z-index: 3;
		margin-bottom: 0
	}

	.nemob {
		display: none
	}

	.container {
		width: 100%;
		padding: 0 5vw
	}

	.left-footer span,
	.plashka {
		display: none
	}

	footer .container {
		display: -webkit-flex;
		display: flex;
		flex-direction: column
	}

	.left-footer img {
		margin-bottom: 0;
		margin-top: 0
	}

	.right-footer {
		font-size: 12px;
		margin-top: 10px
	}

	.main .container {
		padding: 20px 5vw;
		display: -webkit-flex;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: baseline
	}

	.f4 {
		width: 145px
	}

	.main1 {
		font-size: 18px;
		position: relative
	}

	.main3 {
		font-size: 16px
	}

	.main2 {
		margin-top: 20px;
		font-size: 14px;
		padding-right: 0;
		line-height: 1.5;
		color: #8d8a9c
	}

	.main20 {
		padding-right: 0
	}

	img {
		max-width: 90vw
	}

	.main21 {
		width: 100%;
		height: 63px;
		line-height: 63px;
		font-size: 18px;
		margin-top: 5px;
		background-color: #092134;
		text-align: center;
		color: #fff;
		margin-top: 20px
	}

	header {
		display: none
	}

	.main2.flex {
		display: -webkit-flex;
		display: flex;
		padding-right: 0;
		flex-direction: column
	}

	.promo2 {
		width: 154px;
		height: 47px;
		line-height: 47px;
		border: 1px solid #fda700
	}

	.promo1 span {
		color: #fda700;
		display: block
	}

	.promo1 {
		font-size: 16px;
		font-weight: 700;
		color: #0c314e;
		padding-left: 10px
	}

	.joyl-slide {
		margin-bottom: -40px
	}

	.right-footer:after {
		content: 'В© 2019 Р’СЃРµ РїСЂР°РІР° Р·Р°С‰РёС‰РµРЅС‹.';
		display: block;
		margin-top: 20px
	}

	.mob {
		display: flex
	}

	header {
		height: auto;
		z-index: 100000;
		left: 0;
		right: 0;
		height: 70px
	}

	.main-right {
		display: none
	}

	.joyl-slide {
		display: flex;
		flex-direction: column
	}

	.pros {
		display: none
	}

	header .container {
		flex-direction: row;
		padding: 0 5vw;
		flex-wrap: wrap;
		box-sizing: border-box
	}

	.footer-top {
		width: 100%;
		flex-direction: column;
		flex-wrap: nowrap;
		display: flex;
		font-size: 14px;
		padding-left: 0;
		box-sizing: border-box;
		margin-right: 0
	}

	.menu-fo {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		align-items: center;
		justify-content: space-evenly;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		padding: 15px 0;
		margin-bottom: 10px
	}

	header {
		margin: 0;
		position: relative
	}

	.f1 {
		text-align: center
	}

	.footer-bot {
		display: flex;
		flex-direction: column;
		width: 100%
	}

	.f2 img {
		margin-right: 0;
		width: 100%;
		margin-left: 0;
		margin-bottom: 15px
	}

	.f2 {
		margin-right: 0;
		font-size: 14px;
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: baseline
	}

	.f3 img {
		margin-top: 20px;
		margin-right: 0
	}

	footer {
		height: auto;
		margin-top: 0;
		border-top: 0
	}

	footer .container {
		flex-direction: row-reverse !important
	}

	footer .container {
		justify-content: center;
		flex-wrap: wrap;
		padding: 10px 5vw !important
	}

	img {
		max-width: 100vw
	}

	.joykv {
		width: 101%
	}

	.men1 {
		margin-left: 0 !important;
		width: 40%
	}

	.menn {
		display: flex;
		width: auto;
		margin: 0 !important;
		flex-direction: row;
		justify-content: space-between;
		width: 100%
	}

	.close {
		display: none
	}

	.men3,
	.men4 {
		height: 33px;
		margin-right: 3vw !important;
		width: 23vw;
		margin-right: 0 !important
	}

	.joyl2 {
		margin-right: 0 !important;
		flex-direction: column;
		width: 100%;
		background: #002f87;
		align-items: left !important
	}

	header .container .joyl2 {
		ALIGN-ITEMs: baseline;
		padding-top: 20px
	}

	header .container {
		height: auto
	}

	.men5 {
		display: flex;
		align-items: end !important;
		width: 10vw
	}

	.men5 img {
		max-width: 100% !important;
		margin-top: 2px;
		height: 8vw;
		margin-left: 2vw
	}

	header .joyl2 div:hover:before {
		content: ' ';
		position: absolute;
		height: 100%;
		pointer-events: none;
		border-top: 0 solid;
		background-color: #c11832;
		border-left: 5px solid #f7111a;
		border-radius: 0;
		left: -5vw;
		width: 100vw;
		top: 0;
		z-index: -2
	}

	.vul2 {
		overflow: hidden;
		position: absolute !important;
		top: 70px;
		width: 100vw;
		flex-direction: column;
		justify-content: left;
		background: #222;
		left: 0;
		z-index: 333333;
		padding: 20px 0;
		transition: .3s;
		transform: translateX(-100%)
	}

	header .vul2.acriv {
		transform: translateX(0)
	}

	header .vul2 div:hover:before {
		display: none
	}

	.joyl2 div {
		padding: 10px 4vw;
		width: 90vw;
		padding-left: 0
	}

	.men4 {
		height: 33px;
		width: 23vw
	}

	.men3,
	.men4 {
		padding: 0 3vw;
		font-size: 3vw
	}

	.men1 img {
		width: 85%;
		z-index: 3
	}
}

@media screen and (max-width:1000px) {

	img.close,
	img.open {
		width: 10vw
	}

	.vul2 a {
		margin: 0;
		white-space: nowrap;
		padding: 5px 0;
		width: 90vw;
		margin-left: vw
	}

	.vul2 {
		overflow: scroll;
		-webkit-overflow-scrolling: touch
	}

	h1:before,
	h2:before,
	h3:before,
	h4:before,
	h5:before,
	h6:before,
	p strong:before {
		display: none
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	li,
	p {
		padding-left: 0
	}

	.main-left {
		width: 100%;
		padding-right: 0
	}

	.joy-left {
		width: 100%
	}

	li,
	p {
		line-height: 1.6;
		font-size: 14px
	}

	h2,
	h3,
	h4,
	h5,
	p strong {
		font-size: 18px
	}
}

.main-left a {
	color: #0ea6e1
}

.btn-box {
	text-align: center;
	margin-bottom: 15px
}

.btn-box a {
	display: inline-block;
	white-space: normal;
	color: #fff
}

.btn-box a:hover {
	opacity: .8;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.btn-size-big {
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	background-image: linear-gradient(2deg, #353a3f 0, #363a3f 100%);
	color: #fff
}

.main-left ul {
	list-style: square
}

.main-left ol {
	list-style: decimal
}

.main-left ol,
.main-left ul {
	margin: 0 0 20px 40px
}

.main-left ol ol,
.main-left ul ul {
	margin: 0 0 0 40px
}

.main-left li {
	margin-bottom: 5px
}

.main-left li {
	display: list-item;
	list-style-position: inside
}

ol {
	list-style-type: decimal;
	list-style-position: inside;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0
}

.main-left ol li,
.main-left ol ul li {
	list-style: decimal
}

ol li:before {
	color: #7ad529;
	content: "|";
	padding-right: 10px;
	font-size: 24px;
	margin: -6px 0 0 -33px;
	position: absolute
}

ul a {
	color: #0ea6e1
}

ul a:hover {
	color: #7ad529;
	text-decoration: underline
}

ol a {
	color: #0ea6e1
}

ol a:hover {
	color: #7ad529;
	text-decoration: underline
}

.b-top {
	z-index: 2600;
	position: fixed;
	left: 0;
	bottom: 90px;
	width: 34%;
	margin-left: 50%;
	opacity: .5
}

.b-top:hover {
	opacity: 1;
	cursor: pointer
}

.b-top-but {
	z-index: 2600;
	position: absolute;
	display: block;
	left: 56px;
	bottom: 0;
	margin: 0 0 0 100%;
	padding: 32px 12px 4px;
	color: #fff;
	background: #030101 url(../img/b-j-top.png) no-repeat 50% 11px;
	border-radius: 7px
}

@media screen and (min-width:100px) and (max-width:380px) {
	.b-top {
		margin-left: 23%
	}
}

@media screen and (min-width:380px) and (max-width:860px) {
	.b-top {
		margin-left: 30%
	}
}

blockquote {
	background: #f4f1f1;
	padding: 8px;
	margin: 7px 0 17px 12px;
	border-radius: 5px
}

h3 {
	font-size: 18px
}

@media screen and (min-width:1000px) {
	header {
		height: 0
	}
}

.error {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0;
}

.error__descr {
	font-size: 20px;
	justify-content: center;
}

/* games */
.games {
	padding: 30px 0;
}

.games__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px
}

.games__item {
	position: relative;
	padding-bottom: 60%;
}

.games__item img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease 0s;
	object-fit: cover;
}

.games__item:hover img {
	transform: scale(1.05);
}

/* games */